.centertxt{
    position: absolute;
    top: 30%;
    left: 38%;
    font-size: large;
}

.info{
    white-space: pre;
    padding-top: 20px;
    padding-bottom: 20px;
}

.boldt{
    font-weight: bold; 
}

.buttonPosition{
    position: absolute;
    top: 90%;
    left: 80%;
}

.threeLines{
    position: absolute;
    top:2%;
    left: 3%;
}

.profileMark{
    position: absolute;
    top:1%;
    left: 90%;
}

#pages{
    display: none;
    /* display:block */
}

table {
    border-collapse: collapse;
    width: 98%;
  position: absolute;
  top: 20%;
  table-layout: fixed;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding-right: 5%;
  word-wrap: break-word;
}
